<div class="container">
    <h2>Update Class</h2>

<form action="/class/edit/{{classData._id}}" method="POST">

<div class="container mt-5">
    <label>Class name:</label>
    <div class="input-group input-group-sm mb-3">
    <input class="form-control" type="text" name="classname" value="{{classData.classname}}" required>
    </div>

    <label>Choose student:</label>
    {{#each students}}
    <div class="form-check">
            <input type="radio" value="{{this._id}}" {{#if (includes ../classData.student this._id)}}selected{{/if}}>{{this.name}}</input>
    </div>
     {{/each}}

<div class="form-group">
    <label>Choose tutor:</label>
    <div class="input-group input-group-sm mb-3">
    <select name="tutor" required>
        {{#each tutors}}
            <option value="{{this._id}}" {{#if (eq this._id ../classData.tutor._id)}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
    </select>
    </div>
</div>
    <button class="btn btn-primary btn-sm" type="submit">Save</button>
</form>
</div>
</div>