<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
  <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
  <span class="sidebar-title">Dashboard</span>
</div>
<hr>
    <ul>
        <li><a href="/admin/dashboard">Admin Dashboard</a></li>
        <li><a href="/admin/dashboard/tutor">Tutor Dashboard</a></li>
        <li><a href="/admin/dashboard/student">Student Dashboard</a></li>
        <li><a href="/userpage/admin">User Management</a></li>
        <li><a href="/blog">Blog Management</a></li>
        <li><a href="/document">Document Management</a></li>
        <li><a href="/api/meeting">Meeting</a></li>
        <li><a href="/class">Class</a></li>
        <li><a href="/schedule/schedule-view">Schedule</a></li>
        <li><a href="/attendance/all">View Attendance</a></li>
    </ul>
</div>

<div class="content">
<h1>Show All Classes</h1> 
<div class="center" style="text-align: center;">
<a href="/class/create" class="btn">Create to Class</a>
</div>

<div class="table-container">
    <table class="table table-bordered"> 
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Student Name</th>
                <th>Teacher Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each classes}}
            <tr>
                <td><a>{{classname}}</a></td>
                <td>
                    {{#each student}}
                        {{this.name}}<br>  
                    {{/each}}
                </td>
                <td>
                    {{#each tutor}}
                        {{this.name}}<br>  
                    {{/each}}
                </td>
                <td>
                    <a class="btn btn-primary" href="/class/edit/{{ _id }}">Edit</a>
                    <a class="btn btn-primary" href="/class/delete/{{ _id }}"
                        onclick="return confirm('Are you sure to delete this class ?');">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    
</style>

<script>
    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('hidden');
    }
</script>
