<button class="toggle-sidebar-btn" onclick="toggleSidebar()">☰</button>
<div class="sidebar" id="sidebar">
    <h3>Dashboard</h3>
    <hr>
    <ul>
        <li><a href="/admin/dashboard">Admin Dashboard</a></li>
        <li><a href="/admin/dashboard/tutor">Tutor Dashboard</a></li>
        <li><a href="/admin/dashboard/student">Student Dashboard</a></li>
        <li><a href="/userpage/admin">User Management</a></li>
        <li><a href="/blog/">Blog Management</a></li>
        <li><a href="/document/">Document Management</a></li>
        <li><a href="/api/meeting/create">Meeting</a></li>
        <li><a href="/class">Class</a></li>
        <li><a href="/schedule/schedule-view">Schedule</a></li>
    </ul>
</div>

<div class="main-content">
    <h1>Tutor Informations Management</h1>

    <h2>Add New Tutor</h2>
    <form action="/admin/dashboard/add-tutor" method="POST">
        <label for="">Tutor Name</label>
        <input class="form-control w-25" type="text" id="" name="name" required>

        <label for="">Telephone</label>
        <input class="form-control w-25" type="text" id="" name="telephone" required>

        <label for="">Email</label>
        <input class="form-control w-25" type="tel" id="" name="email" required>

        <select id="" name="department" required>
        <option value="">-- Select Department --</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Physics">Physics</option>
        </select>
        
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    <h2>Tutor List</h2>
    <h3>Tutor Total: <span id="total">{{totalTutors}}</span></h3>

    <div class="table-wrapper">
        <table class="table table-striped-columns table-primary">
            <thead>
                <tr>
                    <th>Tutor name</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Department</th>
                    <th>Enrollment Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each tutors }}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ email }}</td>
                    <td>{{ telephone }}</td>
                    <td>{{ department }}</td>
                    <td>{{ formatDate enrollmentDate }}</td>
                    <td>
                        <a class="btn button-3" href="/admin/dashboard/tutor-edit/{{ _id }}">Edit</a>
                        <a class="btn button-3" href="/admin/dashboard/tutor-delete/{{ _id }}"
                            onclick="return confirm('Are you sure to delete this user ?');">Delete</a>
                    </td>
                </tr>
                {{/each}}
            <tbody>
        </table>
    </div>
</div>

<script>
    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('hidden');
    }
</script>
