<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Tên sinh viên</th>
      <th>Email</th>
      <th>Trạng thái</th>
      <th>Ngày</th>
      <th>Lớp</th>
    </tr>
  </thead>
  <tbody>
    {{#each attendances}}
      <tr>
        <td>{{this.student_id.name}}</td>
        <td>{{this.student_id.email}}</td>
        <td>{{this.status}}</td>
        <td>{{formatDate this.date}}</td>
        <td>{{this.className}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
