<h1>Students Information Management</h1>

<h2>Thêm sinh viên mới</h2>
<form action="/admin/dashboard/add-student" method="POST">
    <label for="">Student Name</label>
    <input type="text" id="" name="name" required>

    <label for="">Telephone</label>
    <input type="text" id="" name="telephone" required>

    <label for="">Email</label>
    <input type="tel" id="" name="email" required>

    <label for="">Subject</label>
    <input type="text" id="" name="subject" required>

    <button type="submit">Thêm</button>
</form>


<h2>Danh sách sinh viên</h2>
<h3>Tổng số sinh viên: <span id="total">{{totalStudents}}</span></h3>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Student name</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Enrollment Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each students }}
            <tr>
                <td>{{ name }}</td>
                <td>{{ telephone }}</td>
                <td>{{ email }}</td>
                <td>{{ subject }}</td>
                <td>{{ formatDate enrollmentDate }}</td>
                <td>
                    <a class="button-3" href="/admin/dashboard/student-edit/{{ _id }}">Edit</a>
                    <a class="button-3" href="/admin/dashboard/student-delete/{{ _id }}"
                        onclick="return confirm('Are you sure to delete this product ?');">Delete</a>
                </td>
            </tr>
            {{/each}}
        <tbody>
    </table>
</div>



